@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(245, 245, 245);
    font-family: 'Kalam', cursive;
    color: rgb(35, 34, 34);
}

/* Cabeçalho */

.cabecalho {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1 {
    font-size: 3rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    display: inline-block; 
    color: rgb(35, 34, 34); 
}

.menu-item a:hover {
    color: #000;
    transform: scale(1.2);
    font-weight: bold;
}

/* Sobre */

#sobre {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0.75rem;
}

.subtitulo {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.sobre {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.sobre-foto img {
    max-width: 90%;
    border-radius: 50%;
}

.sobre-texto {
    padding: 2rem;
}

.sobre-texto h3 {
    font-size: 2rem;
    padding-bottom: 0.75rem;
}

.sobre-texto p {
    font-size: 1.25rem;
}

.sobre-foto img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Habilidades */

#habilidades {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0.75rem;
}

.habilidades-fotos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}