@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(245, 245, 245);
    font-family: 'Kalam', cursive;
    color: rgb(35, 34, 34);
}

/* Cabeçalho */

.cabecalho {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1 {
    font-size: 3rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    display: inline-block; 
    color: rgb(35, 34, 34); 
}

.menu-item a:hover {
    color: #000;
    transform: scale(1.2);
    font-weight: bold;
}

/* Sobre */

#sobre {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 0.75rem;
}

.subtitulo {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.sobre {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.sobre-foto img {
    max-width: 100%;
    border-radius: 50%;
}

.sobre-texto {
    padding: 2rem;
}

.sobre-texto h3 {
    font-size: 2rem;
    padding-bottom: 0.75rem;
}

.sobre-texto p {
    font-size: 1.25rem;
}

/* Habilidades */

#habilidades {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 0.75rem;
}

.habilidades-fotos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.habilidades-fotos-itens {
    border: 2px solid transparent;
    flex: 1;
    text-align: center;
}

.habilidades-fotos-itens p {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    
}

.habilidades-fotos-itens:hover {
    border-radius: 4px;
    background: rgb(211, 203, 203);
    box-shadow: 0 0 8px rgb(66, 53, 106);
}

/* Projetos */

#projetos {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 0.75rem;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
}

.projetos-item {
    background: rgb(197, 193, 193);
    flex: 1 1 300px;
    transition: 0.2s;
    border-radius: 4px;
    padding: 1rem;
    font-weight: 500;      
}

.projetos-item:hover {
    box-shadow: 0px 0px 8px rgb(66, 53, 106);
    transform: scale(1.1);
}

.projetos-item a {
    text-decoration: none;
    color: rgb(35, 34, 34);
    font-size: 2rem;
    font-weight: 500;
    transition: 0.2s;
    
}

.projetos-item a:hover {
    font-weight: bold;
}

.projetos-item p {
    font-size: 1.125rem;   
}